.flexBody {
    display:flex; 
    flex-direction:column;
    flex: 2;
    margin: 0;
    min-height: 100vh; /*This min-height thingy makes sure that the flex direction is in the maximum fleeeeeeex! Just don't delete it ok? :) */
}

.flexArticle {
    display:flex; 
    flex-direction:column;
    flex: 1;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.flexArticleInverse {
    display:flex; 
    flex-direction:row;
    flex: 1;
}

.customAlertHeading {
    color: #FFFFFFFF;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: tahoma;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
}

h2 {
    font-family: tahoma;
    font-size: 26px;
}

p {
    font-family: tahoma;
    font-size: 18px;
    font-weight: 400;
    color: #474347;
}

html {
    background-image: linear-gradient(to bottom, #001e3f79, #baac76);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer { 
    min-height:50px;
    background-color: #BEB5BEff;
    opacity: 75%;
}

.elementCenter {
    align-items: center;
}

.footerText {
    color: #FFFFFFFF;
    text-align: center;
    font-size: 12px;
    max-width: 750px;
    font-family: "IBM Plex Mono", monospace;
    margin-left: auto;
    margin-right: auto;
}

.finePrint {
    color: #FFFFFFFF;
    text-align: left;
    font-size: 8px;
    font-family: "IBM Plex Mono", monospace;
    overflow-wrap: break-word;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.centerDiv {
    margin-left: auto;
    margin-right: auto;
}


.postletter {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #FFFFFFFF;
}

a:link { 
    text-decoration: none; 
}

.BMIButton {
    font-family: "Red Hat Display";
    font-weight: 900;
    text-align: center;
    color: #000000;
    border-radius: 15px;
    font-size: 72px;
    font-style: normal;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    max-width: max-content;
    max-height: max-content;
    border-color: rgb(255, 255, 255);
    border-width: 10px;

}